Verwende vorhandenes Wissen über die Daten (Metadaten): welchen Typ sollte ein Attribut haben? Welche Werte können wir erwarten (z.B. Alter >=0)? Gibt es Zusammenhänge zwischen den Attributen (z.B. Alter und Geburtsdatum)?
Deskriptive Zusammenfassungen der Daten (sog. data summaries) zeigen Datentypen und Wertebereiche von Attributen und fassen statistische Eigenschaften der Daten zusammen, z.B. Mittelwert, Ausreißer.
Regeln prüfen: Eindeutigkeit (Identifier); Definition für fehlende Werte
Achte auf inkonsistente Repräsentationen: z.B. "2004/12/25" vs. "25/12/2004"

In [16]:
import pandas as pd
import os

In [21]:
# ganzer Datensatz
data = pd.read_csv("../data/GeneralDatensatz18-21.csv", sep=';', encoding='ISO-8859-1')
#print(type(data))
print(data.shape) # da ist was schiefgelaufen beim zusammenführen?
data.head(3)

(50118, 23)

,OBJECTID,LAND,BEZ,LOR_ab_2021,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,UKATEGORIE,UART,...,IstPKW,IstFuss,IstKrad,IstGkfz,IstSonstige,USTRZUSTAND,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84
0,219249,11,3,3701658.0,2021,11,18,2,3,0,...,1,0,1,0,0,1,"800202,0742","5829640,204","13,42689483","52,53393955"
1,219248,11,7,7501134.0,2021,12,19,7,3,6,...,1,1,0,0,0,1,"798479,5317","5819049,219","13,39209027","52,43995086"
2,219247,11,4,4100101.0,2021,12,17,4,3,5,...,1,0,0,0,0,0,"793352,6128","5829680,195","13,32624193","52,53802784"

In [28]:
# 2018

csv_directory = '../data'
csv_file = 'AfSBBB_BE_LOR_Strasse_Strassenverkehrsunfaelle_2018_Datensatz.csv'
csv_path = os.path.join(csv_directory, csv_file)
data2018 = pd.read_csv(csv_path, sep=';', encoding='ISO-8859-1')
data2019 = pd.read_csv("../data/AfSBBB_BE_LOR_Strasse_Strassenverkehrsunfaelle_2019_Datensatz.csv", sep=';', encoding='ISO-8859-1')
data2020 = pd.read_csv("../data/AfSBBB_BE_LOR_Strasse_Strassenverkehrsunfaelle_2020_Datensatz.csv", sep=';', encoding='ISO-8859-1')
data2021 = pd.read_csv("../data/AfSBBB_BE_LOR_Strasse_Strassenverkehrsunfaelle_2021_Datensatz.csv", sep=';', encoding='ISO-8859-1')

(13652, 25)

True

In [30]:
print(data2018.shape)
print(data2019.shape)
print(data2020.shape)
print(data2021.shape)

data2019.sample(10)

(13652, 25)
(13390, 24)
(11810, 24)
(11267, 23)

,OBJECTID,LAND,BEZ,LOR,STRASSE,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,UKATEGORIE,...,IstPKW,IstFuss,IstKrad,IstGkfz,IstSonstige,USTRZUSTAND,LINREFX,LINREFY,XGCSWGS84,YGCSWGS84
2903,192206,11,5,5020626,Adamstraße,2019,2,17,2,2,...,1,1,0,0,0,0,"784767,1778","5827118,882","13,19781","52,51962"
7221,196524,11,10,10030727,Biesdorf Süd,2019,7,13,5,3,...,1,0,0,0,0,0,"809296,2736","5826661,709","13,55778","52,50216"
9334,198637,11,1,1011401,Invalidenstraße,2019,9,10,2,3,...,1,0,0,0,0,0,"797923,3745","5829296,063","13,39309","52,53211"
11729,201032,11,1,1011204,Leipziger Straße,2019,11,9,3,3,...,1,0,0,0,0,0,"797837,5847","5826968,664","13,38975","52,51129"
5284,194587,11,3,3051022,Hansastraße,2019,5,15,5,2,...,1,0,1,0,0,0,"803342,4377","5831580,71","13,47482","52,54959"
4104,193407,11,1,1033201,Brunnenstraße,2019,4,8,6,2,...,1,0,1,0,0,0,"798079,604","5829993,131","13,39601","52,53827"
8945,198248,11,2,2030302,Lausitzer Platz,2019,8,11,2,3,...,1,0,0,0,0,0,"800621,0143","5826265,769","13,43","52,50346"
12003,201306,11,4,4030724,Lietzensee,2019,11,10,4,3,...,1,0,0,0,0,0,"790600,6267","5825985,259","13,28255","52,50638"
8701,198004,11,3,3061430,Volkspark Prenzlauer Berg,2019,8,8,5,3,...,1,0,1,0,0,0,"802577,2722","5829421,258","13,46161","52,53066"
5907,195210,11,6,6040807,Zehlendorf Eiche,2019,5,17,4,3,...,1,0,0,0,0,0,"789694,9635","5818444,219","13,2627","52,43925"

In [32]:
# check if ID unique? YES; ALL UNIQUE
# df['spec_col'].is_unique
print(data2018["OBJECTID"].is_unique)
print(data2019["OBJECTID"].is_unique)
print(data2020["OBJECTID"].is_unique)
data2021["OBJECTID"].is_unique

True
True

True

In [27]:
# describe

# beim Jahr und beim Land muss std = 0 sein
data2018.describe()

,OBJECTID,LAND,BEZ,LOR,LOR_ab_2021,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,UKATEGORIE,UART,UTYP1,ULICHTVERH,IstRad,IstPKW,IstFuss,IstKrad,IstGkfz,IstSonstig,STRZUSTAND
count,13652.000000,13652.0,13652.000000,1.364900e+04,1.364900e+04,13652.0,13652.000000,13652.000000,13652.000000,13652.000000,13652.000000,13652.000000,13652.000000,13652.000000,13652.000000,13652.000000,13652.000000,13652.000000,13652.000000,13652.000000
mean,190759.521975,11.0,5.425505,5.470655e+06,5.717133e+06,2018.0,6.727952,13.473264,4.057427,2.834603,3.626428,3.887636,0.446601,0.380311,0.817096,0.151113,0.157779,0.032449,0.133021,0.195429
std,30321.862980,0.0,3.495083,3.514591e+06,3.498361e+06,0.0,3.175704,4.773588,1.779118,0.379550,2.147188,1.895552,0.796395,0.485481,0.386602,0.358172,0.364547,0.177197,0.339610,0.408197
min,112695.000000,11.0,1.000000,1.011101e+06,1.100101e+06,2018.0,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,198395.750000,11.0,2.000000,2.050602e+06,2.500728e+06,2018.0,4.000000,10.000000,3.000000,3.000000,2.000000,2.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,201808.500000,11.0,5.000000,5.010313e+06,5.100315e+06,2018.0,7.000000,14.000000,4.000000,3.000000,5.000000,3.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,205221.250000,11.0,8.000000,8.020622e+06,8.200726e+06,2018.0,9.000000,17.000000,6.000000,3.000000,5.000000,6.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,208853.000000,11.0,12.000000,1.230431e+07,1.260124e+07,2018.0,12.000000,23.000000,7.000000,3.000000,9.000000,7.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000

In [33]:
data2019.describe()

,OBJECTID,LAND,BEZ,LOR,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,UKATEGORIE,UART,UTYP1,ULICHTVERH,IstRad,IstPKW,IstFuss,IstKrad,IstGkfz
count,13390.000000,13390.0,13390.000000,1.339000e+04,13390.0,13390.000000,13390.000000,13390.000000,13390.000000,13390.000000,13390.000000,13390.000000,13390.000000,13390.000000,13390.000000,13390.000000,13390.000000
mean,176308.038462,11.0,5.418820,5.458240e+06,2019.0,6.737043,13.444137,4.105900,2.846901,3.520762,3.907170,0.473488,0.373786,0.814638,0.146975,0.147423,0.034727
std,50979.499687,0.0,3.480506,3.499219e+06,0.0,3.228971,4.787982,1.804548,0.367081,2.159758,1.903325,0.817780,0.483826,0.388606,0.354095,0.354541,0.183095
min,49090.000000,11.0,1.000000,1.011101e+06,2019.0,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,192650.250000,11.0,2.000000,2.050602e+06,2019.0,4.000000,10.000000,3.000000,3.000000,2.000000,2.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,195997.500000,11.0,5.000000,5.010311e+06,2019.0,7.000000,14.000000,4.000000,3.000000,5.000000,3.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,199344.750000,11.0,8.000000,8.020620e+06,2019.0,9.000000,17.000000,6.000000,3.000000,5.000000,6.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000
max,202779.000000,11.0,12.000000,1.230431e+07,2019.0,12.000000,23.000000,7.000000,3.000000,9.000000,7.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [34]:
data2020.describe()

,OBJECTID,LAND,BEZ,LOR,LOR_ab_2021,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,UKATEGORIE,UART,UTYP1,ULICHTVERH,IstRad,IstPKW,IstFuss,IstKrad,IstGkfz,IstSonstige,USTRZUSTAND
count,11810.000000,11810.0,11810.000000,1.180900e+04,1.180900e+04,11810.0,11810.000000,11810.000000,11810.000000,11810.000000,11810.000000,11810.000000,11810.000000,11810.000000,11810.000000,11810.000000,11810.000000,11810.000000,11810.000000,11810.000000
mean,122320.450889,11.0,5.575275,5.620350e+06,5.865560e+06,2020.0,6.776715,13.523793,4.061135,2.844877,3.446232,3.851905,0.423709,0.432599,0.794073,0.118205,0.152159,0.030652,0.129297,0.234547
std,46594.603526,0.0,3.501419,3.522024e+06,3.499178e+06,0.0,3.191813,4.684416,1.802461,0.372414,2.197319,1.929136,0.781365,0.495457,0.404395,0.322864,0.359190,0.172380,0.335543,0.427909
min,3187.000000,11.0,1.000000,1.011101e+06,1.100101e+06,2020.0,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,137079.250000,11.0,2.000000,2.050802e+06,2.500834e+06,2020.0,4.000000,10.000000,3.000000,3.000000,2.000000,2.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,140031.500000,11.0,5.000000,5.020524e+06,5.200528e+06,2020.0,7.000000,14.000000,4.000000,3.000000,5.000000,3.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,142983.750000,11.0,8.000000,8.041035e+06,8.401241e+06,2020.0,9.000000,17.000000,6.000000,3.000000,5.000000,6.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,146070.000000,11.0,12.000000,1.230431e+07,1.260124e+07,2020.0,12.000000,23.000000,7.000000,3.000000,9.000000,7.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000

In [35]:
data2021.describe()

,OBJECTID,LAND,BEZ,LOR_ab_2021,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,UKATEGORIE,UART,UTYP1,ULICHTVERH,IstRad,IstPKW,IstFuss,IstKrad,IstGkfz,IstSonstige,USTRZUSTAND
count,11267.000000,11267.0,11267.000000,1.126600e+04,11267.0,11267.000000,11267.000000,11267.000000,11267.000000,11267.000000,11267.000000,11267.000000,11267.000000,11267.000000,11267.000000,11267.000000,11267.000000,11267.000000,11267.000000
mean,200048.203870,11.0,5.541227,5.823506e+06,2021.0,7.149996,13.605751,4.069761,2.847697,3.515488,3.880447,0.435697,0.377297,0.802166,0.129582,0.146978,0.030354,0.164019,0.268572
std,34841.735786,0.0,3.478722,3.477900e+06,0.0,3.047300,4.724270,1.808249,0.366908,2.188767,1.938610,0.788147,0.484732,0.398384,0.335858,0.354100,0.171567,0.370309,0.475319
min,109753.000000,11.0,1.000000,1.100101e+06,2021.0,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,210441.500000,11.0,2.000000,2.500835e+06,2021.0,5.000000,10.000000,3.000000,3.000000,2.000000,2.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,213258.000000,11.0,5.000000,5.200420e+06,2021.0,7.000000,14.000000,4.000000,3.000000,5.000000,3.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,216074.500000,11.0,8.000000,8.200832e+06,2021.0,10.000000,17.000000,6.000000,3.000000,5.000000,6.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,219249.000000,11.0,12.000000,1.260124e+07,2021.0,12.000000,23.000000,7.000000,3.000000,9.000000,7.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000

In [36]:
data.describe()

,OBJECTID,LAND,BEZ,LOR_ab_2021,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,UKATEGORIE,UART,UTYP1,ULICHTVERH,IstRad,IstPKW,IstFuss,IstKrad,IstGkfz,IstSonstige,USTRZUSTAND
count,50118.000000,50118.0,50118.000000,5.011300e+04,50118.000000,50118.000000,50118.000000,50118.000000,50118.000000,50118.000000,50118.000000,50118.000000,50118.000000,50118.000000,50118.000000,50118.000000,50118.000000,50118.000000,50118.000000
mean,172859.253582,11.0,5.484936,5.706762e+06,2019.412866,6.836665,13.507283,4.074025,2.843250,3.530767,3.882856,0.445948,0.390219,0.807654,0.137416,0.151263,0.032164,0.141107,0.234327
std,50869.617112,0.0,3.489571,3.497724e+06,1.112136,3.169988,4.745734,1.798072,0.371763,2.172730,1.915349,0.797029,0.487804,0.394147,0.344289,0.358309,0.176437,0.348135,0.437303
min,3187.000000,11.0,1.000000,1.011101e+06,2018.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,141328.250000,11.0,2.000000,2.500728e+06,2018.000000,4.000000,10.000000,3.000000,3.000000,2.000000,2.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,197979.000000,11.0,5.000000,5.100209e+06,2019.000000,7.000000,14.000000,4.000000,3.000000,5.000000,3.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,205795.750000,11.0,8.000000,8.200725e+06,2020.000000,9.000000,17.000000,6.000000,3.000000,5.000000,6.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,219249.000000,11.0,12.000000,1.260124e+07,2021.000000,12.000000,23.000000,7.000000,3.000000,9.000000,7.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000

In [43]:
described_data = data.describe()
corona_einfluesse = described_data["UJAHR"]
# corona_einfluesse.to_csv("corona_einfluesse_sichtbar?")
corona_einfluesse

count    50118.000000
mean      2019.412866
std          1.112136
min       2018.000000
25%       2018.000000
50%       2019.000000
75%       2020.000000
max       2021.000000
Name: UJAHR, dtype: float64

In [44]:
# Datentypen überprüfen
data.dtypes

# geodaten sind Objects

OBJECTID         int64
LAND             int64
BEZ              int64
LOR_ab_2021    float64
UJAHR            int64
UMONAT           int64
USTUNDE          int64
UWOCHENTAG       int64
UKATEGORIE       int64
UART             int64
UTYP1            int64
ULICHTVERH       int64
IstRad           int64
IstPKW           int64
IstFuss          int64
IstKrad          int64
IstGkfz          int64
IstSonstige      int64
USTRZUSTAND      int64
LINREFX         object
LINREFY         object
XGCSWGS84       object
YGCSWGS84       object
dtype: object

In [46]:
# Anzahl eindeutiger Werte pro Spalte

# bei LOR_ab_2021 sind es zu viele, es gibt eigentlich nicht so viele:
# "Die Systematik der LOR besteht nach der Modifikation aus

    #Planungsräumen (PLR) als unterste Ebene, 542 Räume,
    #Bezirksregionen (BZR) als mittlere Ebene, 143 Räume,
    #Prognoseräumen (PGR) als obere Ebene, 58 Räume."

for col in data.columns:
    print("Spaltenname: ", col)
    print("Anzahl unterschiedlicher Werte: ", data[col].nunique())

Spaltenname:  OBJECTID
Anzahl unterschiedlicher Werte:  43487
Spaltenname:  LAND
Anzahl unterschiedlicher Werte:  1
Spaltenname:  BEZ
Anzahl unterschiedlicher Werte:  12
Spaltenname:  LOR_ab_2021
Anzahl unterschiedlicher Werte:  982
Spaltenname:  UJAHR
Anzahl unterschiedlicher Werte:  4
Spaltenname:  UMONAT
Anzahl unterschiedlicher Werte:  12
Spaltenname:  USTUNDE
Anzahl unterschiedlicher Werte:  24
Spaltenname:  UWOCHENTAG
Anzahl unterschiedlicher Werte:  7
Spaltenname:  UKATEGORIE
Anzahl unterschiedlicher Werte:  3
Spaltenname:  UART
Anzahl unterschiedlicher Werte:  10
Spaltenname:  UTYP1
Anzahl unterschiedlicher Werte:  7
Spaltenname:  ULICHTVERH
Anzahl unterschiedlicher Werte:  3
Spaltenname:  IstRad
Anzahl unterschiedlicher Werte:  2
Spaltenname:  IstPKW
Anzahl unterschiedlicher Werte:  2
Spaltenname:  IstFuss
Anzahl unterschiedlicher Werte:  2
Spaltenname:  IstKrad
Anzahl unterschiedlicher Werte:  2
Spaltenname:  IstGkfz
Anzahl unterschiedlicher Werte:  2
Spaltenname:  IstSonstige
Anzahl unterschiedlicher Werte:  2
Spaltenname:  USTRZUSTAND
Anzahl unterschiedlicher Werte:  3
Spaltenname:  LINREFX
Anzahl unterschiedlicher Werte:  49236
Spaltenname:  LINREFY
Anzahl unterschiedlicher Werte:  49045
Spaltenname:  XGCSWGS84
Anzahl unterschiedlicher Werte:  46654
Spaltenname:  YGCSWGS84
Anzahl unterschiedlicher Werte:  44977