In [2]:
from ydata_profiling import ProfileReport
import pandas as pd
#from sklearn.preprocessing import MinMaxScaler
#scaler = MinMaxScaler()
unfaelle = pd.read_csv('../data/AfSBBB_BE_LOR_Strasse_Strassenverkehrsunfaelle_2020_Datensatz.csv', sep=';')
unfaelle.head(10)
#unfaelle = scaler.fit_transform(unfaelle)
profile = ProfileReport(unfaelle, title='Unfaelle Report', explorative=True)

profile.to_file("Datensatz_2020.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [6]:

profile = ProfileReport(pd.read_csv('../data/GeneralDatensatz18-21ohneGeo.csv', sep=';') , title='Unfaelle Report', explorative=True)

profile.to_file("GeneralDatensatz18-21ohneGeo.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Geodaten: Scatterplot fertig machen, mit Karten: Folium, kann man im Screamlit-App darstellen 
logistische Regression trainieren  für die Daten // Jahr + Monat -> Unfälle tötlich und nicht tödlich
Confusion Matrix, Classification Report -> erstellen, in welche Richtung gehen die Fehler? 
Random Forest -> Variablen kategorisch machen, die numerisch keinen Sinn machen, Bezirke kategorisch

In [8]:
all_df = pd.read_csv('../data/GeneralDatensatz18-21ohneGeo.csv', sep=';')
all_df.sample(3)

,OBJECTID,LAND,BEZ,LOR_ab_2021,UJAHR,UMONAT,USTUNDE,UWOCHENTAG,UKATEGORIE,UART,UTYP1,ULICHTVERH,IstRad,IstPKW,IstFuss,IstKrad,IstGkfz,IstSonstige,USTRZUSTAND
9196,209695,11,7,7601340.0,2021,2,10,7,3,3,6,0,0,1,0,0,0,0,0
28171,194397,11,1,1011303.0,2019,5,15,4,3,2,2,0,1,1,0,0,0,0,0
16281,139141,11,2,2300418.0,2020,5,14,4,3,0,1,0,1,0,0,0,0,0,0

In [12]:
agg_df = all_df.groupby(["UJAHR","UMONAT"]).agg("size")

In [13]:
agg_df.head()

UJAHR  UMONAT
2018   1          884
       2          730
       3          802
       4         1217
       5         1462
dtype: int64

In [14]:
len(agg_df)

48

In [15]:
agg_df.index

MultiIndex([(2018,  1),
            (2018,  2),
            (2018,  3),
            (2018,  4),
            (2018,  5),
            (2018,  6),
            (2018,  7),
            (2018,  8),
            (2018,  9),
            (2018, 10),
            (2018, 11),
            (2018, 12),
            (2019,  1),
            (2019,  2),
            (2019,  3),
            (2019,  4),
            (2019,  5),
            (2019,  6),
            (2019,  7),
            (2019,  8),
            (2019,  9),
            (2019, 10),
            (2019, 11),
            (2019, 12),
            (2020,  1),
            (2020,  2),
            (2020,  3),
            (2020,  4),
            (2020,  5),
            (2020,  6),
            (2020,  7),
            (2020,  8),
            (2020,  9),
            (2020, 10),
            (2020, 11),
            (2020, 12),
            (2021,  1),
            (2021,  2),
            (2021,  3),
            (2021,  4),
            (2021,  5),
            (2021,  6),
            (2021,  7),
            (2021,  8),
            (2021,  9),
            (2021, 10),
            (2021, 11),
            (2021, 12)],
           names=['UJAHR', 'UMONAT'])

In [16]:
agg_df = agg_df.reset_index()

In [17]:
agg_df.head()

   UJAHR  UMONAT     0
0   2018       1   884
1   2018       2   730
2   2018       3   802
3   2018       4  1217
4   2018       5  1462

In [18]:
agg_df.columns = ["year", "month", "count"]

In [19]:
agg_df.head()

   year  month  count
0  2018      1    884
1  2018      2    730
2  2018      3    802
3  2018      4   1217
4  2018      5   1462

In [20]:
agg_df["date"] = pd.to_datetime(agg_df[["year", "month"]].assign(day=1))

In [21]:
agg_df.head()

   year  month  count       date
0  2018      1    884 2018-01-01
1  2018      2    730 2018-02-01
2  2018      3    802 2018-03-01
3  2018      4   1217 2018-04-01
4  2018      5   1462 2018-05-01

In [22]:
agg_df = agg_df.sort_values("date")

In [23]:
agg_df.head()

   year  month  count       date
0  2018      1    884 2018-01-01
1  2018      2    730 2018-02-01
2  2018      3    802 2018-03-01
3  2018      4   1217 2018-04-01
4  2018      5   1462 2018-05-01

In [24]:
import matplotlib.pyplot as plt

In [25]:
plt.plot(agg_df["date"], agg_df["count"])

In [26]:
plt.show()

/tmp/ipykernel_5697/3040330175.py:1: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()